# HW 1. pandas tasks

In [ ]:
import pandas as pd

- Створіть DataFrame Pandas із щонайменше 5 рядками та 3 стовпцями. Стовпці можуть представляти різні атрибути (наприклад, Ім'я, Вік, Місто).
- Додайте новий стовпець до DataFrame, який представляє числове значення.
- Відфільтруйте DataFrame, щоб показати лише рядки, де числове значення більше певного порогу (ви можете визначити поріг).

In [72]:
df = pd.DataFrame({
    'Ім\'я': ['Олександр', 'Ірина', 'Максим', 'Софія', 'Андрій'],
    'Вік': [30, 25, 35, 28, 32],
    'Місто': ['Київ', 'Львів', 'Харків', 'Одеса', 'Дніпро']
})

df

        Ім'я  Вік   Місто
0  Олександр   30    Київ
1      Ірина   25   Львів
2     Максим   35  Харків
3      Софія   28   Одеса
4     Андрій   32  Дніпро

In [71]:
df['Зарплата'] = [5000, 6000, 5500, 7000, 4800]
df

        Ім'я  Вік   Місто  Зарплата
0  Олександр   30    Київ      5000
1      Ірина   25   Львів      6000
2     Максим   35  Харків      5500
3      Софія   28   Одеса      7000
4     Андрій   32  Дніпро      4800

In [67]:
df[df['Зарплата'] > 5000]

     Ім'я  Вік   Місто  Зарплата
1   Ірина   25   Львів      6000
2  Максим   35  Харків      5500
3   Софія   28   Одеса      7000

- Завантажте набір даних за допомогою Pandas (ви можете використовувати будь-який набір даних у форматі CSV або wine.csv).
- Відобразіть перші 5 рядків набору даних.

In [28]:
import pandas as pd
df = pd.read_csv('wine.csv')

df.head()

,1,14.23,1.71,2.43,15.6,127,2.8,3.06,.28,2.29,5.64,1.04,3.92,1065
0,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
1,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
2,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
3,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735
4,1,14.20,1.76,2.45,15.2,112,3.27,3.39,0.34,1.97,6.75,1.05,2.85,1450

- Розрахуйте та виведіть загальну статистику для числових стовпців у наборі даних.
- Знайдіть та виведіть унікальні значення у категорійному стовпці.

In [35]:
df.describe()

,1,14.23,1.71,2.43,15.6,127,2.8,3.06,.28,2.29,5.64,1.04,3.92,1065
count,177.000000,177.000000,177.000000,177.000000,177.000000,177.000000,177.000000,177.000000,177.000000,177.000000,177.000000,177.000000,177.000000,177.000000
mean,1.943503,12.993672,2.339887,2.366158,19.516949,99.587571,2.292260,2.023446,0.362316,1.586949,5.054802,0.956983,2.604294,745.096045
std,0.773991,0.808808,1.119314,0.275080,3.336071,14.174018,0.626465,0.998658,0.124653,0.571545,2.324446,0.229135,0.705103,314.884046
min,1.000000,11.030000,0.740000,1.360000,10.600000,70.000000,0.980000,0.340000,0.130000,0.410000,1.280000,0.480000,1.270000,278.000000
25%,1.000000,12.360000,1.600000,2.210000,17.200000,88.000000,1.740000,1.200000,0.270000,1.250000,3.210000,0.780000,1.930000,500.000000
50%,2.000000,13.050000,1.870000,2.360000,19.500000,98.000000,2.350000,2.130000,0.340000,1.550000,4.680000,0.960000,2.780000,672.000000
75%,3.000000,13.670000,3.100000,2.560000,21.500000,107.000000,2.800000,2.860000,0.440000,1.950000,6.200000,1.120000,3.170000,985.000000
max,3.000000,14.830000,5.800000,3.230000,30.000000,162.000000,3.880000,5.080000,0.660000,3.580000,13.000000,1.710000,4.000000,1680.000000

In [63]:
df.iloc[:, 0].unique()

array([1, 2, 3], dtype=int64)